article{
  height: 77vh;
  grid-template-columns: auto 1fr;
  grid-gap: 2em;
}
label, option{
  color:#707070;
  font-weight: 600;
}
input, select{
  border-radius: 10px;
  font-weight: 500;
}
.container{
  display: grid;
  align-items: baseline;
  align-content: center;
}
.add-container-form{
  width: auto;
  height: auto;
  display: grid;
  place-items: center;
  border: solid 1px #4e84a5;
  border-radius: 20px;
  border-bottom: 15px solid #37BBED;
  padding: 10px;
  form{
    label{
      margin-top: 10px;
    }
    select{
      margin-bottom: 10px;
    }
    .card-link{
      margin-left: 46px;
    }
  }
  .disabled{
    background-color: #ed3737d5;
    cursor: default;
  }
  .active{
    background-color: #1BBB1F;
  }

}
.table-new_exp {
  width: 100%; /* Ajusta el ancho según tus necesidades */

  .table-new_exp--tr {
    color: white;
    border-width: none;

    .th-l {
      border-radius: 12px 0 0 0;
      background-color: #37BBED;
    }

    .th-r {
      border-radius: 0 12px 0 0;
      background-color: #37BBED;
    }
  }

  .add_file-tbody {
    max-height: 298px;
    overflow-y: auto;
    display: contents; /* Agrega el display block para que el tbody actúe como un contenedor */
    border-top: none;
  }

  .add_file-td {
    /* Agrega un estilo para las celdas si es necesario */
    padding: 8px; /* Ajusta el espaciado interno según tus necesidades */
    border: 1px solid #ddd; /* Añade un borde a las celdas si es necesario */
  }
  .add_file-td--r {
    border-right: 1px solid #ddd;
  }
}


@media (min-width: 500){
  .add-container-form{
    width: 520px;
  }
}
