article{
  height: 77vh;
  grid-template-columns: auto 1fr;
  grid-gap: 2em;
}
label, option{
  color:#707070;
  font-weight: 600;
}
input, select{
  border-radius: 10px;
  font-weight: 500;
}
.container{
  display: grid;
  align-content: center;
}
.add-container-form{
  width: auto;
  height: auto;
  display: grid;
  place-items: center;
  border: solid 1px #4e84a5;
  border-radius: 20px;
  border-bottom: 15px solid #37BBED;
  padding: 10px;
  form{
    label{
      margin-top: 10px;
    }
    select{
      margin-bottom: 10px;
    }
    .card-link{
      margin-left: 20px;
    }
    .submit-container {
      display: flex;
      gap: 20px;
      align-items: center;
      .alert-danger {
        margin-top: 0;
      }
    }
  }
  legend {
    font-size: 1rem;
  }
  .disabled{
    background-color: #ed3737d5;
    cursor: default;
  }
  .active{
    background-color: #1BBB1F;
  }

}

.table-container {
  max-height: 360px; /* Altura máxima para activar el desplazamiento */
  overflow-y: auto; /* Desplazamiento vertical automático */
}

@media (min-width: 500){
  .add-container-form{
    width: 520px;
  }
}
