
<article class="container">
  <div class="add-container-form">
    <h2>Agrega un nuevo expediente</h2>
    <p>Ingrese el número del expediente y seleccione el Juzgado.</p>
    <form [formGroup]="files" [formGroup]="files">
      <div class="form-group mb-4">
        <label for="inputExpediente">Expediente</label>
        <input
          type="text"
          class="form-control"
          id="inputExpediente"
          formControlName="fileNumber"
          placeholder="000/00"
          [ngClass]="{'is-invalid':FileNumber?.errors && FileNumber?.touched,
          'is-valid': !FileNumber?.errors && FileNumber?.touched}"
          >
      </div>
      <div class="form-group mb-4">
        <label for="dependenciaSelect">Selecciona una dependencia:</label>
        <select class="form-control" id="dependenciaSelect" formControlName="dependenciaSelect" (change)="onChange()">
          <option value="" disabled selected>Dependencias</option>
          <option *ngFor="let dependencia of dependencias" [value]="dependencia.id">{{ dependencia.name }}</option>
        </select>
      </div>

      <button type="submit" class="card-link mb-2" (click)="addFile()" [ngClass]="{'active': isActive, 'disabled': !isActive}">Agregar</button>
      <!-- mensaje de error segun status -->
      <div class="alert alert-danger" role="alert" *ngIf="status === 'failed'">
        <p>El espediente no se pudo cargar</p>
      </div>
    </form>
  </div>
  <table class="table">
    <thead class="thead-container">
      <tr class="table--tr">
        <th scope="col" class="table--th l">
          N°Exp
        </th>
        <th scope="col" class="table--th">
          Año
        </th>
        <th scope="col" class="table--th r">
          Dependencia
        </th>
      </tr>
    </thead>
    <tbody class="add_file-tbody">
        <tr class="add_file-tr" *ngFor="let fileList of newFileList" @fadeInOut>
          <td class="add_file-td"> {{fileList.numero_exp}}</td>
          <td class="add_file-td--r"> {{fileList.anio_exp}}</td>
          <td class="add_file-td--r"> {{fileList.dependencia}}</td>
        </tr>
    </tbody>
  </table>
</article>
