
<span>
  <div class="add-container-form">
    <h2>Agrega un nuevo expediente</h2>
    <p>Ingrese el número del expediente y seleccione el Juzgado.</p>
    <form>
      <div class="form-group">
        <label for="inputExpediente">Expediente</label>
        <input type="text" class="form-control" id="inputExpediente" placeholder="00000/00">
      </div>
      <div class="form-group">
        <label for="inputJuzgado">Juzgado</label>
        <select class="form-control" id="inputJuzgado">
          <option>Default select1</option>
          <option>Default select2</option>
          <option>Default select3</option>
          <option>Default select4</option>
        </select>
      </div>
      <button type="submit" class="btn card-link">Agregar</button>
    </form>
  </div>
</span>
