

.button-user-container{
  border: none;
  border-radius: 16px;
  background-color: $color-secondary;
  text-decoration: none;
  text-align: center;
  color: $color-tertiary;
}
.user-container{
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  padding: 10px;
  border: 1px solid $color-primary-dark;
  border-radius: 16px;
  border-bottom: 14px solid $color-primary;
  img{
    width: 180px;
    height: auto;
  }
}

.editEmail-state{
  display: none;
  &.active{
    width: 100%;
    left:0;
    bottom: 0;
    z-index: 1;
    display: inline;
    position: absolute;
  }
}
