
form{
  label{
    color: #707070;
  }
  input{
    border-radius: 10px;
    font-weight: 500;
  }
  .conditionTerm-container{
    border-radius: 16px;
    border:2px solid #4e84a588;
    h5{
      font-weight: 600;
    }
  }
}

