<div class="container">
  <div class="mb-5 title-page">
    <h2>Presenta tus expedientes digitales</h2>
    <p>
      Ahorra tiempo y dinero enviando los expedientes gitiales<br>
      Encuentra el juzgado que necesitas y copia el correo con 1 click
    </p>
  </div>
  <!-- filter -->
  <div class="input-group search">
    <div>
      <!-- formulario con 1 input -->
      <form [formGroup]="searchCityForm">
        <input
        type="city"
        class="form-control"
        placeholder="Ciudad del Juzgado"
        formControlName="filterCity"
        name="filterCity"
        />
        <button class="input-group-text" id="basic-addon2" type="submit" (click)="filterFill()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
        <div class="search-error" *ngIf="searchCityForm.controls['filterCity'].invalid" @errorAnimation>
          Por favor, introduce solo letras sin caracteres especiales.
        </div>
      </form>
    </div>

  </div>
  <!-- table -->
    <table class="table">
      <thead class="thead-container">
        <tr class="table--tr">
          <th scope="col" class="table--th l">
            Provincia
            <button class="arrow-button" [class.active]="filsArrowDownStyle" (click)="filsArrowDown()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
            </button>
            <button class="arrow-button" [class.active]="filsArrowUpStyle" (click)="filsArrowUp()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
              </svg>
            </button>
          </th>
          <th scope="col" class="table--th">
            Juzgado
            <button class="arrow-button" [class.active]="coursArrowDownStyle" (click)="coursArrowDown()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
            </button>
            <button class="arrow-button" [class.active]="coursArrowUpStyle" (click)="coursArrowUp()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
              </svg>
            </button>
          </th>
          <th scope="col" class="table--th">
            Correo Electronico
          </th>
          <th scope="col" class="table--th">
            Telefono
          </th>
          <th scope="col" class="table--th r">
            Digital
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (serching.length > 0 ? serching : justice)">
          <td>{{ item.provincia }}</td>
          <td>{{ item.juzgado }}</td>
          <td (click)="copyToClipboard(item.email, item.id)" class="td_email">
            {{ item.email }}
                        <!-- Mostrar mensaje copiado -->
            <div *ngIf="copiedMessage && idMessage === item.id " class="popup" @fadeInOut>
              {{ copiedMessage }}
            </div>
          </td>
          <td>{{ item.tel }}</td>
          <td>{{ item.digitalExp }}</td>
        </tr>
      </tbody>
    </table>
  </div>
