.form-control {
  width: 104%;
  border-radius: 0 26px 26px 0;
}
.search {
  margin-bottom: 20px;
}
.td_email {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  max-width: 210px;
  white-space: nowrap;
  text-overflow: ellipsis;
  .popup {
    position: absolute;
    top: 10px;
    left: 200px;
    z-index: 1;
    padding: 1px 10px;
    border-radius: 14px;
    border: 1px solid #4e84a5;
  }
}

