
form{
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  h4{
    color: #333333;
    font-weight: 700;
  }
  label{
    color:#707070;
    font-weight: 600;
  }
  a{
    font-size: 14px;
    color: #4e84a5;
  }
}
.form-group{

  input{
    border-radius: 10px;
    font-weight: 500;
  }
}
.createUser-container{
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  padding-top: 20px;
  h5{
    font-weight: 600;
  }
}
.reset-password--container {
  .button-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    .alert-danger {
      margin-left: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: left;
      width: auto;
    }
    .alert-success {
      margin-left: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: left;
      width: auto;
    }
  }
  // al llegar a 670px de ancho, el grid se convierte en una columna
  @media (max-width: 670px) {
    .button-container {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      .alert-danger {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: auto;
      }
      .alert-success {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: auto;
      }
    }
  }
}
