<!-- reset-password.component.html -->

<div>
  <h2>Restablecer Contraseña</h2>
  <form [formGroup]="resetPassword">
    <label for="password">Nueva Contraseña:</label>
    <input
        type="text"
        class="form-control"
        id="password"
        placeholder="Contraseña"
        formControlName="password"
        [ngClass]="{
          'is-invalid':password?.errors && password?.touched,
          'is-valid': !password?.errors && password?.touched}">

    <label for="repeatPassword">Confirmar Contraseña:</label>
    <input
        type="text"
        class="form-control"
        id="repeatPassword"
        placeholder="Contraseña"
        formControlName="repeatPassword"
        [ngClass]="{
          'is-invalid': repeatPassword?.errors && repeatPassword?.touched,
          'is-valid': !repeatPassword?.errors && repeatPassword?.touched,}"
        [ngClass]="{'is-invalid': status === 'failed'}">

    <button type="submit" (click)="onSubmit()">Restablecer Contraseña</button>
  </form>
</div>
