<!-- reset-password.component.html -->

<div class="reset-password--container">
  <form [formGroup]="resetPassword">
    <h4 class="mb-4">Restablecer Contraseña</h4>
    <label for="password" class="mb-2">Nueva Contraseña:</label>
    <input
        type="text"
        class="form-control mb-4"
        id="password"
        placeholder="Contraseña"
        formControlName="password"
        [ngClass]="{
          'is-invalid':password?.errors && password?.touched,
          'is-valid': !password?.errors && password?.touched}">

    <label for="repeatPassword" class="mb-2">Confirmar Contraseña:</label>
    <input
        type="text"
        class="form-control mb-4"
        id="repeatPassword"
        placeholder="Contraseña"
        formControlName="repeatPassword"
        [ngClass]="{
          'is-invalid': repeatPassword?.errors && repeatPassword?.touched,
          'is-valid': !repeatPassword?.errors && repeatPassword?.touched,}"
        [ngClass]="{'is-invalid': status === 'failed' && message != 'Error al restablecer la contraseña'}">
    <div class="button-container">
      <button
        type="submit"
        (click)="onSubmit()"
        class="btn card-link"
        [disabled]="!resetPassword.valid">
        Restablecer Contraseña
      </button>
      <ng-container *ngIf="status == 'loading'">
        <div class="spinner"></div>
      </ng-container>
      <!-- mensaje de error -->
      <div *ngIf="status === 'failed'" class="alert alert-danger" role="alert">
        <p>{{message}}</p>
      </div>
      <!-- mensaje de exito -->
      <div *ngIf="status === 'success'" class="alert alert-success" role="alert">
        <p>{{message}}</p>
      </div>
    </div>
  </form>
</div>
