<header class="mb-4">
  <div class="logo-container">
    <img src="https://i.imgur.com/Pmel5Co.png" alt="logo" />
  </div>
  <button class="menu-container" (click)="menuStatus()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
      />
    </svg>
  </button>
  <div class="menu-option-container" [class.active]="menu">
    <ul class="nav justify-content-end">
      <li
        class="nav-item"
        *ngFor="let page of pages$"
        [routerLink]="page.route"
        (click)="menuStatus()"
      >
        <a class="nav-link active" aria-current="page"> {{ page.name }} </a>
      </li>
    </ul>
  </div>
</header>
