<section>
  <article>
    <div class="card bg-dark text-white card-img">
      <img src="../../../assets/SecretarioVirtual.png" class="card-img" alt="Demo">
      <div class="card-img-overlay card-text-container">
        <h4 class="card-title">La tecnologia llego a tu despacho</h4>
        <p class="card-text">Somo un servicio listo para ayudarte a dar el siguienta gran paso en tu carrera profecional</p>
      </div>
    </div>
  </article>


  <article class="subcribe-card-container">
    <app-subcribe-card-component></app-subcribe-card-component>
    <app-subcribe-card-component></app-subcribe-card-component>
    <app-subcribe-card-component></app-subcribe-card-component>
  </article>
  <article>
    <app-frequent-questions-componen></app-frequent-questions-componen>
  </article>
</section>
