section{
  margin-top: 30px;
  display: grid;
  justify-items: center;
}

article{
  width: 90%;
  max-width: 1200px;
  margin-bottom: 30px;
}
.card-img{
  border-radius: 20px;
  border: solid 1px #4e84a5;
  .card-text-container{
    width: 400px;
    height: 120px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    color: #333333;
    border-radius: 16px;
    border-bottom: 15px solid #37BBED;
  }
  img{
    width: 100%;
  }
  .card-link{
    width: 140px;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
.subcribe-card-container{
  margin: 0 auto;
}

