section{
  margin-top: 30px;
  display: grid;
  justify-items: center;
}

.header-article{
  border: solid 1px #4e84a5;
  border-radius: 20px;
}
.card-img{
  border-radius: 20px;
  border:none;
  position: relative;
  .card-text-container{
    width: 400px;
    height: 120px;
    margin: 0 auto;
    margin-top: 8rem;
    background-color: white;
    color: #333333;
    border-radius: 16px;
    border-bottom: 15px solid #37BBED;
  }
  img{
    //display: none;
    width: 100%;
  }
  .card-link{
    width: 140px;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
.border-container{
  font-weight: 600;
  border: 1px solid #4e84a5;
  border-bottom: 15px solid #37BBED;
  border-radius: 16px;
  padding: 20px;
}


@media (min-width: 600px) {
  img{
    display:flex;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .card-img{
    .card-text-container {
      margin-top: 20px;
      margin-left: 20px;
    }
  }
}
