.moreEmail-container{
  position: absolute;
  margin: 0 auto;
}
article{
  margin: 0 auto;
  display: grid;
}

  .plus-sign{
    display: grid;
    place-items: center;
    .plus-sign-button{
      border: none;
      background-color: white;
      svg{
        width: 200px;
        height: auto;
        color: #37BBED;
      }
    }
    .disabled{
      cursor: default;
      svg{
        color: #ed3737d5;
      }
    }
    .active{
      svg{
        color: #37BBED;
      }
    }
  }

.suscrip-container{
  border: 1px solid #4e84a5;
  border-radius: 16px;
  .imgSub{
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 16px 16px 0px 16px;
    .img-fluid{
      border-radius: 16px 16px 0px 16px;
      position:absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
    }
  }
  .sub-text{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    padding-top: 16px;
    .h3, .p{
    margin: 0 auto;
    padding-bottom: 12px;
    }
    div{
      display: grid;
      justify-items: center;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    .data-master{
      display: grid;
      padding-top: 14px;
      grid-template-columns: auto auto auto auto;
      height: 46px;
      background-color: #37BBED;
      border-radius: 0px 0px 16px 16px;
      color: white;
      &--button{
        border: none;
        background-color: white;
        color: #4e84a5;
        border-radius: 16px;
        padding: 2px 10px;
        margin-top: -6px;
        margin-bottom: 12px;
      }
    }
  }
}

.moreEmail-state{
  display: none;
  &.active{
    width: 100%;
    z-index: 1;
    display: inline;
    position: absolute;
    bottom: 0;
  }
}
.editUser-state{
  display: none;
  &.active{
    width: 100%;
    z-index: 1;
    display: inline;
    position: absolute;
    margin-top: -24px;
  }
}
.user-description{
  border: solid 1px #4e84a5;
  border-radius: 16px;
  padding: 20px;
  margin-top: 20px;
}

@media (min-width: 700){
  .suscrip-container{
    .imgSub{
      height: 500px;
      border-radius: 16px 0px 0px 16px;
    }
  }

}
