<!-- formulario que envia el correo del usuario para restaurar la clave -->
<div class="conextion-container">
  <form [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPassword()">
    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Correo electrónico">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!recoverPasswordForm.valid">Restaurar contraseña</button>
  </form>
</div>
