<!-- formulario que envia el correo del usuario para restaurar la clave -->
<div class="reset-password--container">
  <form [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPassword()">
    <h4 class="mb-4">Recuperar password</h4>
    <div class="form-group">
      <label for="email" class="mb-2">Correo electrónico</label>
      <input
        type="email"
        class="form-control mb-4"
        id="email"
        formControlName="email"
        placeholder="Correo electrónico"
        [ngClass]="{
          'is-invalid':email?.errors && email?.touched,
          'is-valid': !email?.errors && email?.touched}"
        [ngClass]="{'is-invalid': status === 'failed'}">
    </div>
    <div class="button-container" >
      <button type="submit" class="btn card-link" [disabled]="!recoverPasswordForm.valid">
        Restaurar contraseña
      </button>
      <ng-container *ngIf="status == 'loading'">
        <div class="spinner"></div>
      </ng-container>
      <!-- mensaje de error -->
      <div *ngIf="status === 'failed'" class="alert alert-danger" role="alert">
        <p>{{message}}</p>
      </div>
      <!-- mensaje de exito -->
      <div *ngIf="status === 'success'" class="alert alert-success" role="alert">
        <p>{{message}}</p>
      </div>
    </div>
  </form>
</div>
