.changPass-form{
  max-width: 340px;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  padding: 30px 20px 20px 20px;
  border: 1px solid #4e84a5;
  border-radius: 16px;
  border-bottom: 14px solid #37BBED;
}
