<IfModule mod_rewrite.c>
  Header add Access-Control-Allow-Origin "http://secretariovirtual.ar/"
  Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
  Header add Access-Control-Allow-Headers: "X-API-KEY, Origin, X-Requested-With, Content-Type, Accept, Access-Control-Request-Method, email, password, token, userId, idExp, caseNumber, caseYear, secreataryId, oldSemail, newSemail, Spass, firstName"
  Header add Access-Control-Allow-Credentials: "true"


  RewriteEngine On
  RewriteBase /API-sv/

  # Redirigir todas las solicitudes que no sean archivos o directorios existentes a index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L]
</IfModule>
