<article>
  <h2>Preguntas Frecuentes</h2>
  <div class="frequent-questions-container">
    <h3>Como funciona la suscripcion</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi vitae porro, impedit labore tempore ullam nam explicabo quas doloremque ratione voluptate adipisci tenetur repellat! Minima in aliquid modi perspiciatis. Dicta!</p>
  </div>
  <div class="frequent-questions-container">
    <h3>Como agrego expedientes</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi vitae porro, impedit labore tempore ullam nam explicabo quas doloremque ratione voluptate adipisci tenetur repellat! Minima in aliquid modi perspiciatis. Dicta!</p>
  </div>
  <div class="frequent-questions-container">
    <h3>Donde veo los expeidentes ya cargados</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi vitae porro, impedit labore tempore ullam nam explicabo quas doloremque ratione voluptate adipisci tenetur repellat! Minima in aliquid modi perspiciatis. Dicta!</p>
  </div>
  <div class="frequent-questions-container">
    <h3>Como me avisan cuando salio el expediente</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi vitae porro, impedit labore tempore ullam nam explicabo quas doloremque ratione voluptate adipisci tenetur repellat! Minima in aliquid modi perspiciatis. Dicta!</p>
  </div>
</article>
