
.exp-list-title{
  margin: 0 auto;
  width: 300px;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid $color-primary-dark-transparent;
  border-bottom: 14px solid $color-primary;
}

.search{
  width: 300px;
  padding-left: 20px;
  .form{
    position: relative;
    input{
      width: 250px;
      border-radius: 10px 20px 20px 10px;
    }
  }
  .input-group-text{
    position: absolute;
    height: 38px;
    margin-top: -38px;
    margin-left: 190px;
  }
  button{
    display:grid;
    justify-content: center;
    width: 60px;
    height:40px;
    background-color: $color-secondary;
    border-radius: 0px 26px 26px  0px;
    border-left: none;
    svg{
      width: 20px;
      height: auto;
      color: $color-primary-dark-transparent;
    }
  }
}

table{
  margin-top: 20px;
  .thead-container{
    background-color: $color-primary;
    color: $color-secondary;
    border-width: none;
  }
  .arrow-button{
    border: 1px solid $color-primary;
    color: $color-secondary;
    background-color: $color-primary;
    margin-left: 6px;
    svg{
      margin-top: -4px;
    }
    &.active{
      border: 1px solid $color-secondary;
      border-radius: 6px;
    }
  }
  .deleteFile{
    border: none;
    width: 100%;
    border-bottom: 1px solid $color-secondary-dark;
    height: 57.2px;
  }
}


@media (min-width: 480px){
  .exp-list-title{
    margin: 0;
    width: 500px;
  }
}

.td_expediente {
  width: 200px;
}
.td_juzgado {
  width: 180px;
}
td.overflow-cell {
  max-width: 150px; /* Ancho máximo de la celda antes de recortar el texto */
  overflow: hidden; /* Oculta cualquier contenido que se desborde de la celda */
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto recortado */
}

/* Opcional: Estilos para el texto dentro de la celda */
td.overflow-cell p {
  margin: 0; /* Elimina los márgenes para un mejor aspecto */
  padding: 5px; /* Añade espaciado interno si es necesario */
}
