
span{
  display: grid;
  place-items: center;
  padding-top: 20px;
}
label, option{
  color:$color-fourth;
  font-weight: 600;
}
input, select{
  border-radius: 10px;
  font-weight: 500;
}

.container{
  width: 100%;
  display: grid;
  place-items: center;
  .new-user-container{
    padding: 16px;
    border-radius: 16px;
    border-bottom: 15px solid $color-primary;
  }
}
