<div class="background-new-user">
  <div class="card new-user-container mb-4" style="width: 18rem;">
    <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title mb-4">Editar Secretario</h5>
      <form [formGroup]="edditAdi" (ngSubmit)="editAdditional()">
        <div class="form-group mb-2">
          <label for="name" class="mb-1">Nombre</label>
          <input type="text"
            class="form-control"
            id="name"
            placeholder="{{placeOlder.name}}"
            formControlName="name"
            [ngClass]="{'is-invalid':name?.errors && name?.touched,
            'is-valid': !name?.errors && name?.touched}"
            >
        </div>
        <div class="form-group mb-2">
          <label for="exampleInputEmail1" class="mb-1">Email</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="{{placeOlder.email}}"
            formControlName="newSemail"
            [ngClass]="{'is-invalid':newSemail?.errors && newSemail?.touched,
            'is-valid': !newSemail?.errors && newSemail?.touched}"
        >
        </div>
        <!-- input de password -->
        <div class="form-group mb-4">
          <label for="InputPassword" class="mb-1">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="InputPassword"
            placeholder="Contraseña"
            formControlName="Spass">
        </div>
        <div class="button-container">
          <button type="submit" class="btn card-link mb-4">Confirmar</button>
          <button type="submit" class="btn button-delete" (click)="delet()" >Eliminar</button>
        </div>
      </form>
  </div>
  <button class="cancel-container" (click)="cancelClick()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
  </button>
</div>
