<div class="container">
  <div class="card new-user-container mb-4" style="width: 18rem;">
    <h2>Restablecer contraseña</h2>
    <p>
      Se le enviará un enlace a su correo para restaurar su contraseña.
    </p>
    <div class="card-body">
      <h3 class="card-title mb-4">
        Dirección de correo electrónico
      </h3>
      <form>
        <div class="form-group mb-4">
          <label for="exampleInputEmail1">Email</label>
          <input type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Ingrese su email"
            aria-describedby="emailHelp">
        </div>
        <div class="button-container">
          <button type="submit" class="btn card-link">Enviar</button>
        </div>
      </form>
  </div>
</div>
