<span>
  <app-edit-email-component class="editEmail-state" [class.active]="editEmail"></app-edit-email-component>
</span>

<a
  (click)="editionEmail()"
  class="col button-user-container">
    <div class="card user-container mb-4">
      <figure>
        <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png" class="card-img-top" alt="Imagen ilustrativa de usuario">
      </figure>
      <div class="card-body">
        <h5 class="card-title"> {{additional.firstName}} </h5>
        <p> {{additional.Semail}} </p>
      </div>
    </div>
</a>

