
.exp-list-title{
  width: 500px;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #4e84a5;
  border-bottom: 14px solid #37BBED;
}
.search{
  width: 300px;
  padding-left: 20px;
  .input-group-append{
    border: none;
  }
  button{
    display:grid;
    justify-content: center;
    width: 60px;
    height:40px;
    background-color: white;
    border-radius: 0px 26px 26px  0px;
    border-left: none;
    svg{
      width: 20px;
      height: auto;
      color: #4e84a5;
    }
  }
}


table{
  margin-top: 20px;
  .thead-container{
    background-color: #37BBED;
    color: white;
    border-width: none;
  }
}

