
.table{
  margin-top: 20px;
  .arrow-button{
    border: 1px solid #37BBED;
    color: white;
    background-color: #37BBED;
    margin-left: 6px;
    svg{
      margin-top: -4px;
    }
    &.active{
      border: 1px solid rgb(244, 244, 244);
      border-radius: 6px;
    }
  }
  .deleteFile{
    border: none;
    background: none;
    width: 100%;
  }
}

