.exp-list-title{
  margin: 0 auto;
  width: 300px;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #4e84a5;
  border-bottom: 14px solid #37BBED;
}

.search{
  width: 300px;
  padding-left: 20px;
  .form{
    position: relative;
    input{
      width: 250px;
      border-radius: 10px 20px 20px 10px;
    }
  }
  .input-group-text{
    position: absolute;
    height: 38px;
    margin-top: -38px;
    margin-left: 190px;
  }
  button{
    display:grid;
    justify-content: center;
    width: 60px;
    height:40px;
    background-color: white;
    border-radius: 0px 26px 26px  0px;
    border-left: none;
    svg{
      width: 20px;
      height: auto;
      color: #1f3442;
    }
  }
}

.table{
  margin-top: 20px;
  .arrow-button{
    border: 1px solid #37BBED;
    color: white;
    background-color: #37BBED;
    margin-left: 6px;
    svg{
      margin-top: -4px;
    }
    &.active{
      border: 1px solid rgb(244, 244, 244);
      border-radius: 6px;
    }
  }
  .deleteFile{
    border: none;
    background: none;
    width: 100%;
  }
}


@media (min-width: 480px){
  .exp-list-title{
    margin: 0;
    width: 500px;
  }
}
