<div class="background-new-user">
  <div class="card new-user-container mb-4" style="width: 18rem;">
    <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title mb-4">Nuevo Correo</h5>
      <form [formGroup]="newAdditionalDTO" (ngSubmit)="saveNewAdditional()">
        <div class="form-group mb-2 ">
          <label for="newSecretaryName">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="newSecretaryName"
            placeholder="Nombre"
            formControlName="name"
            [ngClass]="{'is-invalid':name?.errors && name?.touched,
            'is-valid': !name?.errors && name?.touched}">
        </div>
        <div class="form-group mb-2">
          <label for="InputEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="InputEmail"
            aria-describedby="emailHelp"
            placeholder="Nuevo Email"
            formControlName="Semail"
            [ngClass]="{'is-invalid':email?.errors && email?.touched,
            'is-valid': !email?.errors && email?.touched}">
        </div>
        <!-- input de password -->
        <div class="form-group">
          <label for="newSecretaryPass">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="newSecretaryPass"
            placeholder="Contraseña"
            formControlName="Spass">
        </div>
        <button type="submit" class="btn card-link">Confirmar</button>
      </form>
  </div>
  <button class="cancel-container" (click)="cancelClick()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
  </button>
</div>
