@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;600;700&display=swap');


body{
  font-family: 'Encode Sans', sans-serif;
  width: 100%;
}
.card-link{
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  border: none;
  background-color: #2e7d33;
  border: 3px solid transparent;
}
