// @import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Encode Sans', sans-serif;
  font-weight: 500;
  color: #333333;
  width: 100%;
  height: 100%;
}
caption {
  display: none;
}
h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.card-link{
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  border: none;
  background-color: #1BBB1F;
  border: 3px solid transparent;
  display: grid;
  .button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
  }
  &:hover {
    border: 3px solid #1BBB1F;
    .button {
      // si se hacer hover sobre el boton
        font-weight: 600;
    }
  }
}
.button-delete{
  text-decoration: none;
  padding: 6px 18px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  border: none;
  background-color: #782222;
  border: 3px solid transparent;
}
.button-blue{
  text-decoration: none;
  padding: 6px 18px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  border: none;
  background-color: #37BBED;
  border: 3px solid transparent;
  font-weight: 400;
  .button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
  }
  &:hover {
    border: 3px solid #37BBED;
    .button {
      // si se hacer hover sobre el boton
        font-weight: 600;
    }
  }
}

.disabled-gray {
  color: #666;
  font-size: 17px;
}
.data-inline {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  p {
    margin: 0;
    font-weight: 500;
  }
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #007bff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s ease-in-out infinite;
  margin: 0 auto;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.alert-danger {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  padding: 4px 10px;
  margin-top: 20px;
  p {
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 14px;
  }
}
.alert-success {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  padding: 4px 10px;
  margin-top: 20px;
  p {
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 14px;
  }
}



// titulos de las paginas
.title-page {
  // min-width: 300px;
  max-width: 550px;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #4e84a5;
  border-bottom: 14px solid #37BBED;
  @media (min-width: 480px){
    .exp-list-title{
      margin: 0;
      width: 500px;
    }
  }
}

// importo los archivos styles
@import './styles/0-base/button.scss';

@import './styles/1-atoms/_button-cancel.scss';
@import './styles/1-atoms/_button-component.component.scss';
@import './styles/1-atoms/_spinner.scss';

@import './styles/2-molecules/search.scss';
@import './styles/2-molecules/table.scss';

// @import './styles/3-organisms/*';

// @import './styles/4-pages/*';
