  .subcribe-card{
    border-radius: 16px;
    img{
      border-radius: 16px 16px 0px 0px;
    }
  }
.card-body{
  display: grid;
  justify-items: center;
  .card-link{
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    border: none;
    background-color: #2e7d33;
    border: 3px solid transparent;
  }
}
